body {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
}

h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.grid {
  display: grid;
  grid-template-columns: auto auto;
}

.game-area {
  display: flex;
}

.control-panel {
  width: 10rem;
  background-color: yellow;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border: 0.2em;
  border-color: black;
  border-style: dotted;
}

:root {
  --grid-cols: 1;
  --grid-rows: 1;
}

.display-container {
  background-color: coral;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border: 0.2em;
  border-color: black;
  border-style: dotted;
}

.grid-container {
  display: grid;
  width: 500px;
  height: 500px;
  box-sizing: content-box;
}

.cell {
  border: 1px rgba(0, 0, 0, 0.041) solid;
  background-color: rgba(255, 255, 255, 1);
}

.grid-size-input {
  width: 4em;
}

.filled-cell {
  background-color: light-blue;
}

.panel-title {
  font: roboto;
  font-size: large;
  padding: 0.5rem;
}

.control-buttons {
  margin-top: 0.5rem;
  background-color: coral;
  border-radius: 0.5rem;
  width: 100px
}

.maker {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: smaller;
  justify-self: flex-end;
}